<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMethods" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55421/Methods.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMethods" contract="ServiceReference1.IMethods"
                name="BasicHttpBinding_IMethods" />
        </client>
    </system.serviceModel>
</configuration>